**/.DS_STORE
**/.idea
wp-trackback.php
wp-mail.php
license.txt
wp-cron.php
wp-login.php
wp-admin/
wp-links-opml.php
wp-config-sample.php
wp-settings.php
wp-activate.php
wp-signup.php
readme.html
wp-load.php
wp-blog-header.php
wp-config.php
wp-comments-post.php
xmlrpc.php
wp-includes/

!wp-content/
wp-content/*
!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/froala/
